.card {
  width: 100%;
}

.card__image {
  height: 282px;
  width: 100%;
}

.card__image__content_yosemite {
  background: url(../images/card-images/yosemite.jpg) no-repeat center / 282px
    282px;
}

.card__image__content_lake-louise {
  background: url(../images/card-images/lake-louise.jpg) no-repeat center /
    282px 282px;
}

.card__image__content_bald-mountains {
  background: url(../images/card-images/bald-mountains.jpg) no-repeat center /
    282px 282px;
}

.card__image__content_latemar {
  background: url(../images/card-images/latemar.jpg) no-repeat center / 282px
    282px;
}

.card__image__content_vanoise {
  background: url(../images/card-images/vanoise.jpg) no-repeat center / 282px
    282px;
}

.card__image__content_lago-di-braise {
  background: url(../images/card-images/lago.jpg) no-repeat center / 282px 282px;
}

@media screen and (max-width: 918px) {
}

@media screen and (max-width: 320px) {
}
