.card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.card__image {
  height: 282px;
  width: 100%;
  display: block;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

.card__info-text {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.card__like-button {
  padding: 0;
  width: 21px;
  height: 18px;
  border: none;
  background: url(../images/heart.svg) no-repeat center / 21px 18px;
  flex-shrink: 0;
  transition: opacity 0.2s ease;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
