.gallery {
  display: grid;
  max-width: 880px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  /* grid-auto-flow: column; */
  outline: blue 2px;
}

@media screen and (max-width: 918px) {
}

@media screen and (max-width: 320px) {
}
