.page {
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #000;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 918px) {
}

@media screen and (max-width: 320px) {
}
