.page {
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #000;
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page__content {
  max-width: 880px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 918px) {
  .page__content {
    box-sizing: border-box;
    padding: 0 19px;
  }
}

@media screen and (max-width: 650px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
  }

  /* For mobile breakpoint, padding must be only applied to .content block to allow .header to take up full page width  */
  .page__content {
    padding: 0;
  }
}
