.profile {
  max-width: 880px;
  width: 100%;
  display: flex;
  padding-top: 40px;
  padding-bottom: 51px;
  justify-content: space-between;
}

.profile__content {
  display: flex;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: url(../images/jacques-cousteau.jpg) no-repeat center / cover;
  margin-right: 30px;
}

.profile__info {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 415px;
}

.profile__info-name {
  margin-bottom: 8px;
  display: flex;
  align-items: baseline;
}

.profile__info-name-text {
  margin: 0;
  margin-right: 18px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background: url(../images/edit-icon.svg) no-repeat center / 10px 10px;
  transition: opacity 0.2s ease;
  flex-shrink: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__title {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background: url(../images/plus-icon.svg) no-repeat center / 22px 22px;
  align-self: center;
  transition: opacity 0.2s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .profile__info-name-text {
    width: min-content;
  }
}

@media screen and (max-width: 618px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    width: 100%;
    padding-top: 42px;
    padding-bottom: 36px;
  }

  .profile__avatar {
    margin: 0;
    margin-bottom: 30px;
  }

  .profile__content {
    flex-direction: column;
    align-items: center;
  }

  .profile__info {
    max-width: 225px;
  }

  .profile__info-name-text {
    font-size: 22px;
    line-height: 27px;
    width: max-content;
    margin-right: 10px;
  }

  .profile__title {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 36px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    background: url(../images/edit-icon.svg) no-repeat center / 7.5px 7.49px;
  }

  .profile__add-button {
    width: 100%;
    background: url(../images/plus-icon.svg) no-repeat center / 16px 16px;
  }
}
